:root {
    /* font */
    --main-font: 'MedievalSharp', regular;
    --second-font: 'Montserrat', sans-serif;

    /* size */
    --button-size: 1.7em;

    /* color */
    --background: #19370F;
    --light: white;
    --main-color: #F3C243;
    --dark: black;
    --dark-light: #676767;

    /* padding */
    --small: 10px;
    --medium: 30px;
    --large: 50px;
    --extra-large: 125px;

    /* margin */
    --side-margin: 75px;
    --top-large: 100px;
    --top-small: 10px;

    /* radius */
    --corner-radius: 5px;

}