:root {
    /* fonts */
    --main-font: 'MedievalSharp', regular;
    --second-font: 'Montserrat', sans-serif;

    /* colors */
    --background: #19370F;
    --light: white;
    --main-color: #F3C243;
    --dark: black;
    --dark-light: #676767;

    /* gaps */
    --small: 10px;
    --medium: 30px;
    --large: 50px;

    /* margins */
    --side-margin: 70px;
    --top-large: 100px;

    /* radius */
    --corner-radius: 4px;

}